{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Upload digital resource"  %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}

<script type="text/javascript" src="/static/cigno/js/CIGNo.js"></script>
<script type="text/javascript" src="/static/cigno/js/ResourceForm.js"></script>

<!--script type="text/javascript" src="/static/cigno/externals/dynform/Ext.form.Field.js"></script>
<script type="text/javascript" src="/static/cigno/externals/dynform/Ext.form.FieldSet.js"></script>
<script type="text/javascript" src="/static/cigno/externals/dynform/Ext.form.FormPanel.js"></script>
<script type="text/javascript" src="/static/cigno/externals/ext/examples/ux/Spinner.js"></script> 
<script type="text/javascript" src="/static/cigno/externals/ext/examples/ux/SpinnerField.js"></script> 
<script type="text/javascript" src="/static/cigno/externals/ext/examples/ux/MultiSelect.js"></script> 
<script type="text/javascript" src="/static/cigno/externals/ext/examples/ux/ItemSelector.js"></script> 
<script type="text/javascript" src="/static/cigno/externals/gemetclient/build/GemetClient.js"></script>  
<script type="text/javascript" src="/static/cigno/js/GemetPanel.js"></script-->
<!--script type="text/javascript" src="/static/cigno/externals/OpenLayers/Control/PanZoom.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Control/ArgParser.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Util.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Control/MousePosition.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Control/DrawFeature.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Handler/RegularPolygon.js"></script>  

<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Control/SelectFeature.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Handler/Feature.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Popup.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Popup/Anchored.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Popup/Framed.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Popup/FramedCloud.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Format/JSON.js"></script>  
<script type="text/javascript" src="/static/cigno/externals/OpenLayers/Format/GeoJSON.js"></script-->  
<!-- GeoNames -->
<!--script type="text/javascript" src="/static/cigno/externals/GeoExt.ux/GeoNamesSearchCombo.js"></script>  
<script type="text/javascript" src="/static/cigno/js/GeoNamesSearchCombo.js"></script-->  

<link rel="stylesheet" type="text/css" href="/static/cigno/externals/ext/examples/ux/css/Spinner.css"/>
<link rel="stylesheet" type="text/css" href="/static/cigno/externals/ext/examples/ux/css/MultiSelect.css"/>


<style>
/* treepanel */
.x-tree-root-ct, .x-tree-node-ct {
    list-style-type: none;
}
</style>

<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/fileuploadfield/fileuploadfield.css"/>
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function() {
});
</script>
{% endblock %}

{% block main %}
<div class="twocol">
    <h2>{% trans "Add digital resource" %}</h2>
  {% if errors %}
    <div id="errors">
      {% for error in errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div id="metadata_form">
  </div>

  <!--div>
    <form method="POST"> 
  {{ formset }}
<input type="submit">
    </form>
  </div-->

</div>
<script type="text/javascript">
{% autoescape off %}
Ext.onReady(function(){
    Ext.QuickTips.init();
    
    var form_target = "{{ request.get_full_path }}";
    var xml_unsafe = /(^[^a-zA-Z\._]+)|([^a-zA-Z0-9\._])/g;
            
    var permissionsField = new Ext.form.Hidden({
        name: "permissions"
    });
      
   var allLicenses = [
	  {% for license in all_licenses %}
   	  {boxLabel: '{{ license }}', name: 'use_limitation', inputValue: '{{ license }}'} {% if not forloop.last %},{% endif %}
	  {% endfor %}
   ];
   
   var initial = {{ initial }};

   var fp = new Ext.ResourceForm({
      id: 'resource_form',
      renderTo: 'metadata_form',
      width: 600,
      permissionsField: permissionsField,
      form_target: form_target,
	  listeners: {                 
	     afterrender: function() {
            this.loadData(initial);
            this.switchType(null);
	     }
	  }
   });
   
      
   var permissionsEditor = new GeoNode.PermissionsEditor({
        renderTo: "permissions_form",
        userLookup: "{% url geonode.views.ajax_lookup %}",
        listeners: {
            updated: function(pe) {
                permissionsField.setValue(Ext.util.JSON.encode(pe.writePermissions()));
            }
        },
        permissions: {
            anonymous: 'resource_readonly',
            authenticated: 'resource_readonly',
            users:[]
        }
    });
    permissionsEditor.fireEvent("updated", permissionsEditor);
});
{% endautoescape %}
</script>

{% endblock %}


{% block sidebar %}
<div class="threecol">
<h3>{%trans "Permissions"  %}</h3>

<div id="permissions_form"></div>
{% endblock %}
