{% extends "page_layout.html" %}
{% load geonode_auth %}
{% load i18n %}
{% comment %}
{% load comments %}
{% endcomment %}
{% load mdtools %}
{% load media %}

{% block title %} {{ md.title }} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}


{% include_media 'cigno.js' %}

<style>
  .newline {
    margin-left: 10px;
    display: block;
  }
  .newline_detail {
    margin-left: 10px;
    font-size: 90%;
    display: block;
    color: #999999;
  }

  #id_comment {
     width: 250px;
  }

  #id_bbox{
    text-align: center;
  }

</style>

{{ block.super }}

    <script type="text/javascript">
{% autoescape off %}
var related_resources_panel;
        Ext.onReady(function() {
{% has_obj_perm user md "metadata.change_resource_permissions" as can_change_permissions %}
{% if can_change_permissions %}
            new GeoNode.PermissionsEditor({
                renderTo: "permissions_form",
                userLookup: "{% url geonode.views.ajax_lookup %}",
                permissions: {{ permissions_json }},
                levels: {
                    'admin': 'resource_admin',
                    'readwrite': 'resource_readwrite',
                    'readonly': 'resource_readonly',
                    '_none': '_none'
                },
                listeners: {
                    updated: function(perms) {
                        var submitTo = "{% url cigno.metadata.views.ajax_resource_permissions md.id %}";
                        Ext.Ajax.request({ url: submitTo, jsonData: perms.writePermissions() });
                    }
                }
            });
{% endif %}

           related_resources_panel = new Cigno.RelationsManager({
              renderTo:'related_resources-manager',
              rdf_url: '{% url cigno.mdtools.views_rdf.graph_connections %}',
              rdf_s: '{{ md.get_absolute_url }}'
           });

           //loadGeonamesPanel();
	   var initial = {{ initial }};
           var geonames = new GeoExt.BboxGeoNamesPanel({renderTo: 'preview_map', editable: false, mapHeight: 250});
           if('geographic_bounding_box' in initial){
	       geonames.mapPanel.loadBBOX(initial['geographic_bounding_box']);
           };
           if('geonames' in initial){
	       geonames.mapPanel.loadGeoNames(initial['geonames']);
           };
	    
        });


        function showStyle(styleName) {
            
            if (!styleName) {
                Ext.ComponentMgr.all.on("add", function(index, object) {
                    if (object instanceof gxp.WMSStylesDialog) {
                        Ext.ComponentMgr.all.un("add", arguments.callee);
                        object.on("ready", function() {
                            object.addStyle();
                        }, this, {single: true});
                    }
                });
            }
            app.tools["styler"].actions[0].execute();
        }
{% endautoescape %}
    </script>
    <script>
      contactInfo = new Ext.Window({
        title: "Info",
        autoHeight: true,
        width: 280,
        closeAction: "hide",
        bodyStyle: "background-color: white;",
        //items: stylesPanel,
        listeners: {
           "beforeclose": function() {
              styleEditor = null;
           }
        } 
      });

</script>
<style>
/* treepanel */
   #related_resources-manager ul {
      list-style-type: none;
   }

/*  .mdsection {
    margin-left: -15px;
    margin-right: -15px;
  }
*/
  .newline {
    margin-left: 10px;
    display: block;
  }
  .newline_detail {
    margin-left: 10px;
    font-size: 90%;
    display: block;
    color: #999999;
  }
</style>
{% endblock %}

{% block main %}
<div class="twocol">
{% with md.field_labels as fl %}
<div id="description"> <h3> {{ md.titleml }} </h3> </div>
<!--p> <strong>{{ fl.abstractml }}:</strong> {{ md.abstractml|truncatewords:30|default:_("No abstract for this resource.") }} </p-->

<!--p style="display:block; margin:0 auto; text-align:center;" > 
  {% if md.thumbnail_exists %}
  <a href="{{link}}"><img src="{{ md.thumbnail_exists }}"/></a>
  {% endif %}
</-->

{% include "metadata/metadata_details.html" %}

</div>
{% endwith %}
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="threecol">
    <h3> {% trans "Related resources" %}</h3>
    <div id="related_resources-manager"></div>
    <br/>
    <h3>Bounding Box - GeoNames</h3>
    <div id="geonames_search"></div>
    <div id="preview_map"></div>
    <br/>
    <h3> {% trans "Download" %} </h3>
    <p> <strong>{% trans "Data" %}: </strong>
        {% for extension, type, link in md.download_links %}
            <a href="{{link}}">{{type}}</a>
        {% endfor %}
    </p>
    <p> <strong>{% trans "Metadata" %}: </strong>
        {% for mimetype, mdtype, link in md.metadata_links %}
            <a href="{{link}}">{{mdtype}}</a>
        {% empty %}
            <em> {% trans "No metadata links provided for this data." noop %} </em>
        {% endfor %}
    </p>

    {% if user.is_authenticated %}
    {% has_obj_perm user md "metadata.change_resource" as can_change %}
    {% has_obj_perm user md "metadata.delete_resource" as can_delete %}
    {% if can_change or can_delete or can_change_permissions %}

        <h3> {% trans "Manage" %} </h3>
        <ul>
			{% if user.is_authenticated %}
        {% if can_change %}
                <li><a href="{% url cigno.metadata.views.resource_metadata resourceid=md.id %}">{% trans "Update the description of this data" %}</a></li>
                <!--li><a href="/admin/metadata/resource/{{md.pk}}/">{% trans "Update the description of this data" %} ({% trans "advanced form" %})</a></li-->
                <!--li><a href="?update">{% trans "Upload a new version of this data" %}</a></li-->
        {% endif %}
        {% if can_change_permissions %}
        <li><a href="{% url edit_resource_permissions md.pk %}">{% trans "Edit Permissions" %}</a></li>
        {% endif %}
            {% if can_delete %}
				<li><a href="{% url cigno.metadata.views.resource_remove resourceid=md.id %}">{% trans "Remove" %}</a></li>
			{% endif %}
			{% else %}
				<li>Please authenticate to update or remove resources</li>
			{% endif %}
        </ul>
    {% endif %}
    {% has_obj_perm user md "metadata.change_resource_permissions" as can_change_permissions %}
    {% if can_change_permissions %}
    <h3>{% trans "Permissions" %}</h3>
      <div id="permissions_form"></div>
    {% endif %}
    {% endif %}

    {% comment %}

    <p></p>	   
    <h3> {% trans "Comments" %} </h3>
    {% get_comment_count for metadataMetadata as comment_count %}
    <p>{{ comment_count }} comments have been posted.</p>
    {% render_comment_list for metadataMetadata %}

    <h4> {% trans "Add a comment" %} </h4>
    {% render_comment_form for metadataMetadata %}

    {% endcomment %}


</div>
{% endblock %}
