  <span class="newline">{{k.responsible_party.organization_name}} ({{k.role}})</span>
  <span class="newline_detail">Organization: {{k.responsible_party.organization_name}} ({{k.responsible_party.organization_web}} - {{k.responsible_party.organization_tel}} - {{k.responsible_party.organization_email}})</span>
  <span class="newline_detail">Contact: {{k.responsible_party.title|default:""}} {{k.responsible_party.name|default:""}} {{k.responsible_party.surname|default:""}} - {{k.responsible_party.office|default:""}} ({{k.responsible_party.email|default:""}} - {{k.responsible_party.tel|default:""}})</span>
  <br/>
