            <li class="item">
              <span class="title">Differenza batimetrie 2002-1970</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:diff0270&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">batimetrie Laguna-Ve 2002</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:lag02_okart_export&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">Stazioni misura Progetto Corila 3.12</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:stazioni_3_12&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">Differenza batimetrie 1970-1930</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:diff7030&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">Differenza 4° acquifero 2008-2000</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:4AQ_diff2008_2000_geotiff&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">Rete Monitoraggio pozzi</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:retepozzi&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">batimetrie Laguna-Ve 1970</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:lag70_ok_export&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">Unità Lagunari Operative</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:unita_lagunari_v3&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">Stazioni monitoraggio zoobenthos WFD</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:WFD_VE_2011_87st&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">Campo di velocità istantanea in laguna di Venezia</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:velist_zoo&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">batimetrie Laguna-Ve 1930</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:lag30_ok_export&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">Tempo di residenza (WRT) della laguna di Venezia</span>
              <img src="http://cigno.ve.ismar.cnr.it/geoserver/wms?SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=geonode:wrt_zoo&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
