            <li class="item">
              <span class="title">LCZ:lcz_3_5_bocche_di_porto_plancton</span>
              <span class="content">lcz_3_5_bocche_di_porto_plancton</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=LCZ:lcz_3_5_bocche_di_porto_plancton&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_2P:ve_merge_3_16</span>
              <span class="content">Rilievi sismici ad alta risoluzione 3.16</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_2P:ve_merge_3_16&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:Mappatura_parametri_biomassa_3.3</span>
              <span class="content">Mappatura parametri biomassa alghe e fanerogame in laguna 3.3</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:Mappatura_parametri_biomassa_3.3&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:stazioni_caranto2_1</span>
              <span class="content">Stazioni caranto centro storico Venezia 2.1</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:stazioni_caranto2_1&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">LCZ:lcz_3_5_bocche_di_porto_biomark</span>
              <span class="content">lcz_3_5_bocche_di_porto_biomark</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=LCZ:lcz_3_5_bocche_di_porto_biomark&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:stratigrafie</span>
              <span class="content">Stratigrafie Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:stratigrafie&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:Stazioni_3_6</span>
              <span class="content">Stazioni campionamento ittico 3.6</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:Stazioni_3_6&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">corila_pubblici:siti_linea6_mav</span>
              <span class="content">Siti di monitoraggio. L6-MAV</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=corila_pubblici:siti_linea6_mav&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_2P:Tipologie_idriche_lagunari_3_11</span>
              <span class="content">Tipologie idriche lagunari 3.11</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_2P:Tipologie_idriche_lagunari_3_11&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:piezometri</span>
              <span class="content">Piezometri Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:piezometri&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:rete_idraulica</span>
              <span class="content">Rete idraulica Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:rete_idraulica&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:sistemi_litologici</span>
              <span class="content">Carta dei sistemi litologici Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:sistemi_litologici&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:campi_spettrometro</span>
              <span class="content">Campi spettrometro Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:campi_spettrometro&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:punti_3_2a_chimica</span>
              <span class="content">Campionamenti chimici 3.2a</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:punti_3_2a_chimica&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:pozzi_ises</span>
              <span class="content">Pozzi ISES Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:pozzi_ises&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:luminofori_3_4</span>
              <span class="content">Punti di campionamento luminofori 3.4</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:luminofori_3_4&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:campionamento_wp3_1</span>
              <span class="content">Aree campionamento relative ai processi metabolici 3.3</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:campionamento_wp3_1&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:pozzi_storici</span>
              <span class="content">Pozzi storici Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:pozzi_storici&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:monitoraggi_3_4</span>
              <span class="content">Punti di campionamento dell'aerosol e del particolato atmosferico 3.4</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:monitoraggi_3_4&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_2P:Tossicita_3_11</span>
              <span class="content">Indagini sulla tossicità del sedimento 3.11</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_2P:Tossicita_3_11&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">LCZ:lcz_3_5_bocche_di_porto_corrente_portata</span>
              <span class="content">lcz_3_5_bocche_di_porto_corrente_portata</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=LCZ:lcz_3_5_bocche_di_porto_corrente_portata&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:trivellate_cnr</span>
              <span class="content">Trivellate CNR Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:trivellate_cnr&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:punti_3_2a_geochimica</span>
              <span class="content">Campionamenti geochimici 3.2a</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:punti_3_2a_geochimica&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:confronto_organismi_PCB</span>
              <span class="content">Confronto PCB in organismi 3.3</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:confronto_organismi_PCB&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">LCZ:lcz_3_5_bocche_di_porto_marea_vento</span>
              <span class="content">lcz_3_5_bocche_di_porto_marea_vento</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=LCZ:lcz_3_5_bocche_di_porto_marea_vento&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:sifoni</span>
              <span class="content">Sifoni relativi al Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:sifoni&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">corila_monitoraggi:2000_60</span>
              <span class="content">2000_60</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=corila_monitoraggi:2000_60&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">corila_pubblici:linee_VHRS_shallows</span>
              <span class="content">SHALLOWS - Rilievi sismici ad alta risoluzione. L2-MAV</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=corila_pubblici:linee_VHRS_shallows&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">corila_pubblici:carotaggi_l2_mav</span>
              <span class="content">SHALLOWS - Carotaggi L2-MAV</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=corila_pubblici:carotaggi_l2_mav&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_2P:Biodiversita_3_11</span>
              <span class="content">Biodiversita 3.11</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_2P:Biodiversita_3_11&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:transetti_georadar</span>
              <span class="content">Transetti georadar Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:transetti_georadar&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:trivellate_cnr2003</span>
              <span class="content">Trivellate CNR 2003 Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:trivellate_cnr2003&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:carta_class_satellite</span>
              <span class="content">Caratterizzazione geo-pedologica del Bacino Zennare 3.1b</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:carta_class_satellite&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:staz_idrologia_chimica_3_5</span>
              <span class="content">staz_idrologia_chimica_3_5</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:staz_idrologia_chimica_3_5&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">LCZ:lcz_3_5_bocche_di_porto_idrologia</span>
              <span class="content">lcz_3_5_bocche_di_porto_idrologia</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=LCZ:lcz_3_5_bocche_di_porto_idrologia&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
            <li class="item">
              <span class="title">CORILA_RI_1P:punti_3_2a_geologia</span>
              <span class="content">Indagini sedimentologiche 3.2a</span>
              <img src="http://cigno.corila.it/geoserver/wms??SERVICE=WMS&STYLES=&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=CORILA_RI_1P:punti_3_2a_geologia&EXCEPTIONS=XML&VERSION=1.3.0&REQUEST=GetMap&TILED=true&CRS=EPSG%3A900913&BBOX=1319174,5637710,1441167,5717205&WIDTH=580&HEIGHT=378" class="background" />
              </li>
       
