{% extends "geonode/templates/page_layout.html" %}
{% load i18n %}
  {% block head %}
  <link rel="stylesheet" type="text/css" id="theme" href=""/>
  <script>
    Ext.onReady(function(){
      var themeUrl = 'http://cigno.corila.it/static/cigno/externals/ext/resources/css/xtheme-grey.css' ;
      //Ext.util.CSS.swapStyleSheet("theme", themeUrl);
    });
  </script>
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cigno/css/site.css" media="screen" />
  {% endblock %}

  {% block nav %}
    <ul id="sitenav" class="selfclear">
        <li class="home"><a href="{% url geonode.views.index %}">{% trans "Home" %}</a></li> 
        <!--li class=""><a class="" id="dataLink" href="{% url geonode.maps.views.browse_data %}">{% trans "Data" %}</a></li-->
        <li class=""><a class="" id="dataLink" href="{% url geonode.maps.views.search_page %}">{% trans "Search & Browse" %}</a></li>
        <li class=""><a class="" id="mapsLink" href="{% url geonode.maps.views.maps %}">{% trans "Maps" %}</a></li>
    {% if user.is_authenticated %}
	<li class=""><a class="" id="toolsLink" href="{% url geonode.maps.views.upload_layer%}">{% trans "Upload GeoData resource" %}</a></li>
	<li class=""><a class="" id="toolsLink" href="{% url cigno.metadata.views.resource_metadata%}">{% trans "Upload digital resource" %}</a></li>
        <li class=""><a class="" id="profileLink" href="{% url profiles_profile_detail user.username %}">{% trans "Profile" %}</a></li>
    {% if user.is_staff %}
        <li class=""><a class="" id="adminLink" href="/admin/">{% trans "Admin" %}</a></li>
    {% endif %}
    {% if user.is_superuser %}
	<li class=""><a class="" id="toolsLink" href="{% url cigno.tools.views.index %}">{% trans "Extra" %}</a></li>
    {% endif %}

    {% endif %}

    </ul>
   {% endblock %}
